@model ParkingApp.Models.Car

@{
    ViewData["Title"] = "Pay";
}

<h1>Pay</h1>

<h3>You have to pay</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Pay" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
